@page "/companies"
@using BlazorMongoDB.Data;
@inject BlazorMongoDB.IService.ICompaniesService companiesService


<h3>Companies</h3>

<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <label>Name:</label>
            </div>
            <div class="col-md-8">
                <input @bind="Company.Name" style="width:100%;" placeholder="Company Name" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Company Address:</label>
            </div>
            <div class="col-md-8">
                <input @bind="Company.Address" style="width:100%;" placeholder="Company Address" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label>Company Phone Number:</label>
            </div>
            <div class="col-md-8">
                <input @bind="Company.PhoneNumber" style="width:100%;" placeholder="Company Phone Number" />
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <button class="btn btn-primary" @onclick="@(e => Save())">Save</button>

                <button class="btn btn-danger" @onclick="@(e => Reset())" style="float:right;">Reset</button>
            </div>
        </div>

    </div>
</div>

<div class="col-md-8">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Company Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @if (Companies.Count() > 0)
            {
                @foreach (var comp in Companies)
                {
                    <tr>
                        <td>@comp.Id</td>
                        <td>@comp.Name</td>
                        <td>@comp.Address</td>
                        <td>@comp.PhoneNumber</td>
                        <td>
                            <button class="btn btn-primary" @onclick="@(e => Edit(@comp.Id))">Edit</button>
                            <button class="btn btn-danger" @onclick="@(e => Delete(@comp.Id))">Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

@code {
    Companies Company = new Companies();
    List<Companies> Companies = new List<Companies>();

    protected override async Task OnInitializedAsync()
    {
        GetCompanies();
    }
    private void GetCompanies()
    {
        Companies = companiesService.GetCompanies();
    }
    private void Save()
    {
        companiesService.SaveOrUpdate(Company);
        Reset();
        GetCompanies();
    }
    private void Reset()
    {
        Company = new Companies();
    }
    private void Edit(string userId)
    {
        Company = companiesService.GetCompany(userId);
    }
    private void Delete(string userId)
    {
        companiesService.Delete(userId);
        GetCompanies();
    }
}
